.footer_absolute {
    position: absolute;
    left: 0;
    bottom: 0;
}

footer {
    width: 100%;
    background: var(--main-pink);
    .footer-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
        margin: auto;
        padding: 1rem 0;
        max-width: 1440px;
        a,
        span {
            color: var(--grey-3);
            font-size: 14px;
        }
        a:hover {
            color: var(--main-blue);
        }
    }
}

@media (max-width: 1440px) {
    footer {
        .footer-wrapper {
            max-width: 1240px;
        }
    }
}
