.price-section {
    width: 100%;
    background: var(--main-blue);
    padding: 3rem 0;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

    h2 {
        margin-bottom: 2rem;
        text-align: center;
    }

    .services {
        display: flex;
        justify-content: space-between;
        width: 11rem;
        margin: auto;
        border: 1px solid #f5f3f3;
        border-radius: 16px;
        text-align: center;
        font-size: 16px;
        overflow: hidden;
        span {
            font-weight: 500;
            height: 36px;
            color: var(--grey-5);
            padding: 9px 14px 9px 9px;
            cursor: pointer;
            border: none;
        }
        .service_active {
            background-color: var(--main-pink);
        }
    }

    .service_prices {
        width: 50%;
        margin: auto;
        .service_prices_unit {
            margin: 3rem auto 0;
            list-style-type: none;
            color: var(--grey-5);
            h3 {
                margin: 1rem 0 0;
            }
            .service_price {
                display: flex;
                justify-content: space-between;
                padding: 2rem 0;
                border-bottom: 1px solid #f5f3f3;
            }
        }
    }
}
