.price-section {
    width: 100%;
    background: url('/icons/hands.png') no-repeat bottom right;
    background-size: 15%;
    background-color: var(--pastel-pink);
    padding: 3rem 0;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

    h2 {
        margin-bottom: 2rem;
        font-family: 'Caveat';
        text-align: center;
        color: var(--grey-5);
        font-size: 1.7rem;
    }

    .services {
        display: flex;
        justify-content: space-between;
        width: 11rem;
        margin: auto;
        border: 1px solid var(--grey-1);
        border-radius: 16px;
        text-align: center;
        font-size: 16px;
        overflow: hidden;
        span {
            font-weight: 500;
            height: 36px;
            color: var(--grey-5);
            padding: 9px 14px 9px 9px;
            cursor: pointer;
            border: none;
        }
        .service_active {
            background-color: var(--main-pink);
        }
    }

    .service_prices {
        width: 50%;
        margin: auto;
        .service_prices_unit {
            margin: 3rem auto 0;
            list-style-type: none;
            color: var(--grey-5);
            h3 {
                margin: 1rem 0 0;
                font-family: 'Caveat';
                font-size: 1.5rem;
            }
            .service_price {
                display: flex;
                justify-content: space-between;
                padding: 2rem 0;
                border-bottom: 1px solid var(--grey-1);
            }
        }
    }
}

@media (max-width: 1440px) {
    .price-section {
        .service_prices {
            width: 70%;
        }
    }
}

@media (max-width: 1024px) {
    .price-section {
        .service_prices {
            width: 90%;
        }
    }
}

@media (max-width: 767px) {
    .price-section {
        background-image: none;
    }
}

@media (max-width: 500px) {
    .price-section {
        .service_prices {
            .service_prices_unit {
                .service_price {
                    gap: 1rem;
                    span:first-child {
                        text-align: left;
                    }
                    span:last-child {
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}
