.logo {
    background-color: #ce0094;
    background-image: linear-gradient(92deg, #003ace, #ce0094);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-right: 1.5rem;
    font-family: 'Alex Brush';
    font-weight: 700;
    font-size: 1.5rem;
}

@media (max-width: 395px) {
    .logo {
        font-size: 1.3rem;
    }
}
