nav {
    display: flex;
    gap: 2rem;
    margin-left: 20%;
    li {
        list-style-type: none;
        a {
            color: #a09e9e;
            cursor: pointer;
        }
        a:hover,
        &.active {
            color: #5e84f9;
        }
    }
}

@media (max-width: 1150px) {
    nav {
        margin-left: 5%;
    }
}

@media (max-width: 850px) {
    nav {
        margin-left: 5%;
    }
}
