/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[13].use[5]!./src/widgets/aboutSection/aboutSection.styles.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.about-section {
  width: 100%;
  background: var(--main-pink);
  padding: 3rem 0;
  margin: 0 auto;
  text-align: center;
}
.about-section h2,
.about-section p {
  margin-bottom: 2rem;
}
.about-section .about_images {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "a . c . e ." ". b . d . f";
  width: 100%;
  max-width: 1440px;
  height: 30vh;
  margin: auto;
}
.about-section .about_images img {
  justify-self: center;
  width: 100%;
  height: 20vh;
  border-radius: 8px;
  object-fit: cover;
}
.about-section .about_images .about_image1 {
  grid-area: a;
}
.about-section .about_images .about_image2 {
  grid-area: b;
}
.about-section .about_images .about_image3 {
  grid-area: c;
}
.about-section .about_images .about_image4 {
  grid-area: d;
}
.about-section .about_images .about_image5 {
  grid-area: e;
}
.about-section .about_images .about_image6 {
  grid-area: f;
}

@media (max-width: 1440px) {
  .about-section .about_images {
    max-width: 1240px;
  }
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[13].use[5]!./src/widgets/enterSection/enterSection.styles.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.enter-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("/img/nails_rose.jpg") no-repeat center center;
  background-size: cover;
}
.enter-section .appointment-btn {
  position: absolute;
  top: 35%;
  right: 15%;
  width: 20vw;
  height: 20vw;
  border: none;
  border-radius: 50%;
  background: var(--main-pink);
  padding: 1rem;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
  cursor: pointer;
  color: white;
  font-size: 2rem;
}
.enter-section .appointment-btn:hover {
  box-shadow: 10px 10px 15px rgba(255, 255, 255, 0.5), -10px -10px 15px rgba(70, 70, 70, 0.12);
  color: #afc3fe;
}
.enter-section .appointment-btn:active {
  box-shadow: 10px 10px 15px rgba(255, 255, 255, 0.5), -10px -10px 15px rgba(70, 70, 70, 0.12), inset -10px -10px 15px rgba(255, 255, 255, 0.5), inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}

@media (max-width: 1440px) {
  .enter-section {
    height: 90vh;
  }
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[13].use[5]!./src/widgets/feedbackSection/feedbackSection.styles.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.feedback-section {
  width: 100%;
  background: var(--main-blue);
}
.feedback-section h2 {
  text-align: center;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[13].use[5]!./src/widgets/footer/footer.styles.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
footer {
  width: 100%;
  background: var(--main-pink);
}
footer .footer-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin: auto;
  padding: 1rem 0;
  max-width: 1440px;
}
footer .footer-wrapper a,
footer .footer-wrapper span {
  color: var(--grey-3);
  font-size: 14px;
}
footer .footer-wrapper a:hover {
  color: var(--main-blue);
}

@media (max-width: 1440px) {
  footer .footer-wrapper {
    max-width: 1240px;
  }
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[13].use[5]!./src/entities/langs/langs.styles.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.langs {
  display: flex;
  justify-content: space-between;
  background-color: #f5f3f3;
  border-radius: 8px;
  border: none;
  text-align: center;
  font-size: 16px;
}
.langs span {
  font-weight: 700;
  height: 36px;
  color: var(--grey-3);
  padding: 9px 14px 9px 9px;
  cursor: pointer;
  border: none;
}
.langs .lang_active {
  color: #5e84f9;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[13].use[5]!./src/entities/nav/nav.styles.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
nav {
  display: flex;
  gap: 2rem;
  margin-left: 20rem;
}
nav li {
  list-style-type: none;
}
nav li a {
  color: #a09e9e;
  cursor: pointer;
}
nav li a:hover, nav li.active {
  color: #5e84f9;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[13].use[5]!./src/widgets/header/header.styles.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5019607843);
}
header .header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin: auto;
  padding: 1rem 0;
  width: 1440px;
}

@media (max-width: 1440px) {
  header {
    max-width: 1240px;
  }
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[13].use[5]!./src/widgets/materialsSection/materialsSection.styles.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.materials-section {
  width: 100%;
  background: var(--main-pink);
  padding: 3rem 0;
  margin: 0 auto;
  text-align: center;
}
.materials-section h2 {
  margin-bottom: 2rem;
  text-align: center;
}
.materials-section .materials_images {
  display: flex;
  justify-content: space-between;
  max-height: 10rem;
  width: 90%;
  margin: 2rem auto 0;
}
.materials-section .materials_images a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}
.materials-section .materials_images a img {
  object-fit: contain;
  width: 100%;
}
.materials-section .materials_images a .vogue_img {
  width: 60%;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[13].use[5]!./src/widgets/priceSection/priceSection.styles.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.price-section {
  width: 100%;
  background: var(--main-blue);
  padding: 3rem 0;
  margin: 0 auto;
  text-align: center;
}
.price-section h2 {
  margin-bottom: 2rem;
  text-align: center;
}
.price-section .services {
  display: flex;
  justify-content: space-between;
  width: 11rem;
  margin: auto;
  border: 1px solid #f5f3f3;
  border-radius: 16px;
  text-align: center;
  font-size: 16px;
  overflow: hidden;
}
.price-section .services span {
  font-weight: 500;
  height: 36px;
  color: var(--grey-5);
  padding: 9px 14px 9px 9px;
  cursor: pointer;
  border: none;
}
.price-section .services .service_active {
  background-color: var(--main-pink);
}
.price-section .service_prices {
  width: 50%;
  margin: auto;
}
.price-section .service_prices .service_prices_unit {
  margin: 3rem auto 0;
  list-style-type: none;
  color: var(--grey-5);
}
.price-section .service_prices .service_prices_unit h3 {
  margin: 1rem 0 0;
}
.price-section .service_prices .service_prices_unit .service_price {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  border-bottom: 1px solid #f5f3f3;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[13].use[5]!./src/app/styles/index.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

:root {
  --main-blue: #cddff9;
  --main-black: #1c1c1e;
  --main-green: #02c66e;
  --main-pink: #fcdade;
  --error: #ff3f25;
  --main-background: #f9f9f9;
  --grey-1: #dcdcdc;
  --grey-2: #bcbcbc;
  --grey-3: #8f8f8f;
  --grey-4: #f8f8f8;
  --grey-5: #575757;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}
#root main {
  flex: 1 1;
}
#root footer {
  margin-top: auto;
}

a {
  text-decoration: none;
}

main {
  width: 100%;
}
